# ------------------------------------------------------------------------------
# General Node/JS exclusions
# ------------------------------------------------------------------------------
node_modules
dist
.cache
.nx
.vscode
.idea
.env
.env.*

# ------------------------------------------------------------------------------
# OS / Editor junk
# ------------------------------------------------------------------------------
.DS_Store
Thumbs.db

# ------------------------------------------------------------------------------
# Git & CI/CD
# ------------------------------------------------------------------------------
.git
.gitignore
.github

# ------------------------------------------------------------------------------
# Docker
# ------------------------------------------------------------------------------
.dockerignore
