<div class="stats stats-vertical lg:stats-horizontal shadow">
    @if (authorityCount$$ | async; as count) {
        <app-connected-authorities [connectedAuthoritiesCount]="count" />
    }
    @if (agentCount$$ | async; as count) {
        <app-connected-agents [activeAgentCount]="count" />
    }
    @if (channelCount$$ | async; as count) {
        <app-active-channels [activeChannelCount]="count" />
    }
    @if (totalDataUsage$$ | async; as totalDataUsage) {
        <app-total-data-usage [totalDataUsage]="totalDataUsage" />
    }
</div>